.list{
    color: #000;
    width: 800px;
    background-color:#4F65EC;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.list p{
    padding: 20px;
    position: relative;
    background-color: #fff;
    margin: 0;
}
.list p span{
    position: absolute;
    right: 10px;
    background-color:#4F65EC;
    border-radius: 5px; 
    color: #fff;
    padding: 3px;
}
.text-danger{
    margin: 0 5px;
    color: #fff;
    background-color: #4F65EC;
}
.order{
    background-color: #4F65EC;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.container{
    width: 100%;
    display: flex;
    justify-content: stretch;
}
.form1-group{
    width: 50%;
    margin: 10px 40px;
}
.btn-group1{
    width:40%;
}
.btn-group1 button{
    display: block;
    background-color: #000;
}
.container{
    margin: 30px 100px;
    width: 100%;
}
@media (max-width: 600px) {
    .container{
      margin: 0px;
    }
}
.list-item{
    margin-top: 30px;
    background-color:#EEEEEE;
    padding: 40px;
    margin: 20px;
}
.div11{
    margin: auto 60px;
}
@media (max-width: 600px) {
    .list-item{
      margin: 0px;
    }
    .list{
        width: 300px;
    }
    .div11{
        margin: 0px;
    }
}