.btn{
    text-align: center;
}
.container1{
    margin: 80px 400px;
    padding: 20px;
    background-color: #EEEEEE;
}
 @media (max-width: 600px) {
    .container1 {
      margin: 0px;
      padding: 0px;
      width: 300px;
      margin-top: 30px;
    }
    .form-control{
        width: 70%;
    }
  } 
  
  